In [ ]:
player = (x, y, z) # tuples

In [2]:
num_list = [1, 2, 3, 4]

In [3]:
num_list[1] = 5

In [4]:
num_list

[1, 5, 3, 4]

In [5]:
weekdays = ("monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday")

In [7]:
for i in range(1, 5):
    print(i)

1
2
3
4

In [8]:
for day in weekdays:
    print(day)

monday
tuesday
wednesday
thursday
friday
saturday
sunday

In [9]:
for idx, day in enumerate(weekdays):
    print(f"the {idx}day is {day}")

the 0day is monday
the 1day is tuesday
the 2day is wednesday
the 3day is thursday
the 4day is friday
the 5day is saturday
the 6day is sunday

In [13]:
last_day = weekdays[-1]
print(last_day)

sunday

In [14]:
coordinates = (10, 20)

coordinates[0] = 15

TypeError: 'tuple' object does not support item assignment

In [ ]:
dice_rolls = (1, 3, 6, 3, 2, 6, 1, 6, 4, 6)

print(len(dice_rolls))

10

In [ ]:
dice_rolls.count(6)
dice_rolls.index(2)

4

In [20]:
shopping_list = ["apples", "bananas", "milk", "bread"]

shopping_tuple = tuple(shopping_list)

In [21]:
print(shopping_tuple)

('apples', 'bananas', 'milk', 'bread')

In [22]:
new_list = list(shopping_tuple)
print(new_list)

['apples', 'bananas', 'milk', 'bread']

In [ ]:
# Sets

In [24]:
colors = ["red", "blue", "green", "orange", "red", "purple", "blue", "blue"]

In [25]:
unique_color = set(colors)

In [26]:
print(unique_color)

{'purple', 'blue', 'orange', 'red', 'green'}

In [32]:
colors = {'purple', 'blue', 'orange', 'red', 'blue', 'red', 'green'}

In [33]:
print(colors)

{'purple', 'orange', 'blue', 'red', 'green'}

In [35]:
set_1 = {"Ali", "Sara", "Ahmed"}
set_2 = {"Sara", "Ali", "Zara"}
set_3 = {"Ahmed", "Hassan"}

In [36]:
all_players = set_1 | set_2 | set_3

print(all_players)

{'Ali', 'Zara', 'Ahmed', 'Hassan', 'Sara'}

In [41]:
visited_cities = {"Karachi", "Lahore", "Islamabad"}

In [42]:
visited_cities.add("Peshawar")

In [45]:
print(visited_cities)

{'Islamabad', 'Lahore', 'Karachi', 'Peshawar'}

In [44]:
visited_cities.add("Karachi")

In [46]:
print(visited_cities)

{'Islamabad', 'Lahore', 'Karachi', 'Peshawar'}

In [47]:
cities_list = ["Faisalabad", "Multan"]

visited_cities.update(cities_list)

In [48]:
print(visited_cities)

{'Multan', 'Lahore', 'Islamabad', 'Peshawar', 'Karachi', 'Faisalabad'}

In [49]:
visited_cities

{'Faisalabad', 'Islamabad', 'Karachi', 'Lahore', 'Multan', 'Peshawar'}

In [50]:
visited_cities.remove("Karachi")

In [51]:
visited_cities

{'Faisalabad', 'Islamabad', 'Lahore', 'Multan', 'Peshawar'}

In [54]:
removed_item = visited_cities.pop()

In [56]:
print(removed_item)

Lahore

In [57]:
print(visited_cities)

{'Islamabad', 'Peshawar', 'Faisalabad'}

In [58]:
set_1 = {"Ali", "Sara", "Ahmed"}
set_2 = {"Sara", "Ali", "Zara"}

In [61]:
mutual_student = set_1 & set_2
difference_set1_set_2 = set_1 - set_2
difference_set2_set_1 = set_2 - set_1

In [63]:
print(difference_set2_set_1)

{'Zara'}

In [64]:
for value in set_1:
    print(value)

Ali
Sara
Ahmed

In [65]:
def sum_of_two_num(a, b):
    add_num = a + b
    return add_num

In [66]:
print(sum_of_two_num(6, 5))

11

In [67]:
def say_hello():
    print("Hello there")

In [68]:
say_hello()

Hello there

In [69]:
def greet_person(name):
    print(f"Hello how are you {name}")

In [70]:
greet_person("Hasnain")

Hello how are you Hasnain

In [71]:
def max_number(list_of_numbers):
    max_number = max(list_of_numbers)
    print(f"here is the max number {max_number}")

In [72]:
list_of_num = [1, 2, 6, 100, 50, 70, 101, 80]

max_number(list_of_num)

here is the max number 101

In [73]:
def sum(num1, num2):
    add_num = num1 + num2
    return add_num

In [74]:
add_number = sum(5, 7)
multiply_num = add_number * 5

print(multiply_num)

60

In [1]:
def say_hello():
    print("Hello how are you")

In [2]:
say_hello()

Hello how are you

In [7]:
def say_hello(name):
    capital_name = name.capitalize()
    print(f"Hello how are you {capital_name}")

In [9]:
say_hello("hasnain")

Hello how are you Hasnain

In [ ]:
describe_pet()
pet_name, pet_age, pet_food

print

In [ ]:
print("Hasnain")

In [ ]:
def add_num(num1, num2):
    num3 = num1 + num2
    return num3

In [ ]:
added_nums = add_num(5, 6)

print(added_nums * 7 )

TypeError: add_num() takes 2 positional arguments but 3 were given

In [ ]:
create_full_name
first_name
last_name

print()

In [ ]:
def calculate(num1, num2, operation="add"):
    if operation == "add":
        result = num1 + num2
    elif operation == "multiply":
        result = num1 * num2
    elif operation == "subtract":
        result = num1 - num2
    elif operation == "division":
        result = num1/num2
    return result

In [17]:
res = calculate(6, 2, "division")
print(res)

3.0

In [19]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    return celsius

def temperature_report(temp, unit):
    if unit.lower() == "c":
        other_temperature = celsius_to_fahrenheit(temp)
        print(f"{temp} C = {other_temperature} F")

    elif unit.lower() == "f":
        other_temperature = fahrenheit_to_celsius(temp)
        print(f"{temp} F = {other_temperature} C")

    else:
        print("invalid unit")

In [ ]:
temperature_report(40, "G")

invalid unit

In [23]:
def analyze_text(text):
    word_count = len(text.split())
    char_count = len(text)
    
    return word_count, char_count

In [27]:
text = "My name is Hasnain Ali Poonja"
print(len(text.split()))

6

In [25]:
word_count, char_count = analyze_text("My name is Hasnain Ali Poonja")

print(f"The count of words is {word_count} and the count of char is {char_count}")

The count of words is 6 and the count of char is 29

In [ ]:
def add_all_numbers(*numbers):
    add_nums = sum(numbers)
    return add_nums

In [ ]:
result = add_all_numbers(1, 8, 9, 7, 5)
print(result)

80

In [33]:
def create_profile(**info):
    for key, value in info.items():
        print(f"The key is {key} and the value is {value}")

In [34]:
create_profile(name="Alice", age="12", hobby="reading")
create_profile(name="Bob", grade=7, sports="soccer")

The key is name and the value is Alice
The key is age and the value is 12
The key is hobby and the value is reading
The key is name and the value is Bob
The key is grade and the value is 7
The key is sports and the value is soccer

In [36]:
def greet_all(*names):
    for name in names:
        print(f"Hi how are you {name}")

In [ ]:
*args **kwargs

In [38]:
greet_all("Hasnain", "Ali", "Sara", "Muzammil")

Hi how are you Hasnain
Hi how are you Ali
Hi how are you Sara
Hi how are you Muzammil